<a href="https://colab.research.google.com/github/jeong-jin-wook/jeong-jin-wook/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import math
import numpy as np

In [ ]:
a= math.sqrt(10)

In [ ]:
print(a)

In [ ]:
np.sqrt(600**2+550**2)

In [ ]:
watch =100000
lighter =300
watch+lighter

In [ ]:
price = 5000
price *=0.85
price

In [ ]:
a = 'pig'
b = 'hap'
a+b

In [ ]:
r=800
t=110
anwser = r*t/1000
print(str(anwser)+'mb')

In [ ]:
family =['mother','father','gentleman','dd']
len(family)

In [ ]:
family[2]

In [ ]:
leg = int(input('변의 길이: '))
for i in range(leg):
    print('* '* (i+1))
area =(leg**2)/2
print('넓이: ',area)

In [ ]:
3**2

In [ ]:
num = input('num: ')
print(int(num)**2)

In [ ]:
import numpy as np
num = int(input(""))
arr=np.array

In [ ]:
import numpy as np
num = int(input())
temp=1
arr = np.full((num,2),0)
for a in arr:
    a[0]=temp
    a[1]=temp**2
    temp +=1

for a in arr:
    print(a.item(0)+' '+a.item(1))

In [ ]:
num = int(input(''))
a = 0
while a<10:
    a +=1
    num *= 0.6
    print(round(num,4))



---

In [ ]:
number = 358

rem = rev = 0
while number >= 1:
    rem = number % 10
    rev = rev * 10 + rem
    number = number // 10

print(rev)

In [ ]:
a = [0,1,2,3,4]
for d in a:
    if(d == 3):
        break
    print(d)

In [ ]:
i=0
while  i<10:
    i+=1
    if i%2==0:
        pass
    print(i)

In [ ]:
sumz = 0
while 1 :
    zz = int(input(''))
    if zz < 0:
        break
    else:
        sumz += zz
print(sumz)

In [ ]:
##윤년 판단하기
while 1:
    try:
        year = int(input(''))
        print('윤년') if year%4 == 0 and year %100 !=0 or year%400==0 else print('')
    except:
        print('예외')

In [ ]:
s = 'banana'
if 'a' in s and'b'in s:
    print('a b 있을수도 ')
print( 'a' in s)

In [ ]:
year = int(input('what year were you born?'))
if year <= 1924 :
    print('가장 위대한 세대')
elif year <= 1945 :
    print('침묵 세대')
elif year <= 1963 and year >=1955 :
    print('베이비 부머')
elif year >=1965 and year <= 1980 :
    print('x세대')
elif year <= 1996 and year >=1981:
    print('밀레니얼')
elif year>=1997:
    print('z세대')
elif year >=1946 and year <=1954:
    print('침묵 세대') if input('korean? ').lower()[0] =='y' else print('베이비 부머')

In [ ]:
list(range(2,7))
for i in range(4,8):
    print(i)

In [ ]:
num = int(input(''))
for a in range(num):
    print('',num)

In [ ]:
min_val,max_val =input().split()
res =''
val = 0
while val !=-999:
    val = int(input())
    if val >max_val or val < min_val:
        res +='Alert!'
        break
    res +='Nothing to report\n'
print(res)

In [ ]:
for n in range(1,11):
    match n % 2:
        case 0:
            print (f"{n} is even.")
        case 1:
            print(f"{n} is odd")

In [ ]:
for x in [1,2,3,4]:
    print(x)
    break
else:
    print("리스트의 원소를 모두 출력했어요")

In [ ]:
a_list = [3,4,62,27,83,956,26,58,3,78,168,64,78]
len([1,2])

In [ ]:
def quiz():
    ans = input('1 + 2 = ')
    return 1 + 2 == int(ans)
quiz()

In [ ]:
def korean_number(n):
    match n:
        case 1:
            print('일')
        case 2:
            print('이')
        case 3:
            print('삼')
        case default:
            print()

korean_number(5)

In [ ]:
def triple(x):
    print(x*3)
triple(2)
triple('x')

In [ ]:
def myAge(year):
    from datetime import datetime
    today = datetime.today
    return today
print(myAge(1998))

In [ ]:
def simple_interest(p,r,t):
    return p*r*t
simple_interest(10000000, 0.03875, 5)
simple_interest(1100000, 0.05, 5/12)

def simple_interest_amount(p,r,t):
    return  p * (1 + r * t)

simple_interest_amount(1100000, 0.05, 5/12)

In [ ]:
def compound_interest_amount(p,r,t,n):
      return p * (1 + r / n) ** (n * t)
compound_interest_amount(1500000, 0.043, 6, 4)
compound_interest_amount(1500000, 0.043, 6, 1/2)

In [ ]:
def e_is_10():
    global e
    e = 10
    print(e)
e_is_10()
e

In [ ]:
list(map(lambda x: x ** 2, range(5)))